* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  width: 100vw;
  display: block;
  font-size: 15pt;
  font-family: arial;
  margin: 20px;
}
#historico {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: arial;
}

#doados24 {
  background-color: rgb(0, 163, 186);
  width: 24.5vw;
  margin: 5px;
  height: 200px;
  padding: 30px;
  font-size: 15pt;
  color: #fff;
  display: flex;
  flex-direction: row;
  opacity: 1 !important ;
}
#doados24 ion-icon,
#doadosinicio ion-icon,
#retirados24 ion-icon,
#retiradosinicio ion-icon {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

#doadosinicio {
  background-color: rgb(0, 169, 58);
  width: 24.5vw;
  margin: 5px;
  height: 200px;
  padding: 30px;
  font-size: 15pt;
  color: #fff;
  display: flex;
  flex-direction: row;
  opacity: 1 !important ;
}

#retirados24 {
  background-color: rgb(255, 194, 0);
  width: 24.5vw;
  margin: 5px;
  height: 200px;
  padding: 30px;
  font-size: 15pt;
  color: #fff;
  display: flex;
  flex-direction: row;
  opacity: 1 !important ;
}
#retiradosinicio {
  background-color: rgb(255, 50, 68);
  width: 24.5vw;
  margin: 5px;
  height: 200px;
  padding: 30px;
  font-size: 15pt;
  color: #fff;
  display: flex;
  flex-direction: row;
  opacity: 1 !important ;
}

main {
  display: flex;
  flex-direction: row;
}
#estoque {
  width: 70vw;
  border: 1px solid #ddd;
  margin: 5px;
}
#botoes {
  width: 30vw;
  margin: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}
#botoes button {
  display: block;
  width: 100%;
  margin: 5px;
  border: 0px;
  height: 100px;
  font-size: 20pt;
  text-align: left;
  padding-left: 10px;
}
#doacao {
  background-color: rgb(255, 194, 0);
}
#retirada {
  background-color: rgb(0, 169, 58);
}
#telainicial {
  background-color: rgb(255, 50, 68);
}
#sobre {
  background-color: rgb(0, 163, 186);
}
#estoque h2 {
  font-family: arial;
  font-size: 12pt;
  border-bottom: 1pt solid silver;
  margin: 20px;
}
header p {
  opacity: 0;
}
#conteudoestoque {
  font-family: arial;
  font-size: 10pt;
  font-weight: bold;
}
#totalestoque {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
#pdoacaoinicio,
#pdoacao24,
#pretirados24,
#pretiradosinicio {
  font-size: 15pt;
  opacity: 1 !important ;
}

.form-display {
  width: 60%;
  padding: 20px;
  text-align: left;
  margin: auto;
  margin-bottom: 200px;
}

.form-display h3 {
  display: block;
  font-size: 15pt;
  padding: 10px;
  font-family: "Verdana";
}
.validade label {
  display: inline-block !important;
  font-family: "verdana";
}
.form-display select {
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid silver;
}
.validade select {
  width: 14.7%;
  margin-bottom: 5px;
}

.form-display input[type="text"] {
  padding: 10px;
  display: block;
  width: 100%;
  margin: 20px 0px;
}

.form-display button {
  padding: 20px;
  background-color: darkred;
  color: #fff;
  border: 0px;
  margin-left: 40%;
  margin-top: 20px;
}
#plsobre {
  width: 70%;
}
.sobre {
  font-family: "verdana";
  padding: 10px;
  width: 80%;
  margin: 5px;
  text-align: left;
  font-size: 10pt;
  line-height: 15pt;
  padding-right: 200px;
}
#dia,
#mes,
#ano,
#quantidade {
  width: 6.6vw;
}

@media (min-width: 0) and (max-width: 767.98px) {
  #historico {
    width: 100vw;
    flex-wrap: wrap;
    padding-left: 5px;
  }
  #doados24,
  #doadosinicio,
  #retirados24,
  #retiradosinicio {
    width: 46vw;
    font-size: 90%;
    display: block;
  }
  main {
    display: block;
  }
  #estoque {
    width: 98vw;
    padding: 10px;
  }
  #botoes {
    display: inline-block;
    width: 98vw;
    padding-left: 0px;
  }
  .form-display {
    width: 100vw;
    padding-left: 0px;
  }
  .form-display h3 {
    font-size: 12px;
  }
  .form-display button {
    margin-left: 25%;
  }
  .form-display label {
    display: block !important;
    text-align: right;
    padding-right: 30px;
  }
  #dia,
  #mes,
  #ano,
  #quantidade {
    width: 60vw;
  }
  #plsobre {
    width: 90%;
    display: block;
    height: 200vh;
    margin-left: auto;
    margin-right: auto;
  }
  .sobre h2{
    width: 70vw !important;
  }
  .sobre div{
    width: 80vw;
    text-align: justify;
  }
}
label span {
  opacity: 0;
}
header a {
  display: none;
}

footer{
  position: fixed;
  bottom: 45px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  height: 60px;
  z-index: 10000000;
}
footer nav ul li{
  display: inline-block;
  width: 24%;
  margin:0;
}
footer nav ul li a{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 10px;
  color:#000;
  text-align: center;
  text-decoration: none;
}
footer nav ul li a:hover {

  background-color: orange;
}
.inicio{
  background-image: url("../images/splash.png");
  background-size:100%;
}